<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bukti Pendaftaran</title>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <style>
        body {
            border: 1px dotted black;
            padding: 1em;
        }
        h2, h3,  h5, h6  {
            padding: 0.2em 0;
            margin: 0;
            font-family: 'Raleway';
            text-transform: uppercase;
        }

        h2,

        table {

        }

        table tr {
            border-collapse: collapse;
        }

        .text-center {
            text-align: center;
        }

        .one {
            float: left;
            display: block;
            width: 200px;
        }
        .two {
            float: left;
            display: block;
        }
        .attr {
            display: inline-block;
            width: 7em;
        }
        .box {
            border: 2px solid black;
        }
        .three img{
            margin: 4em;
        }
        .clear {
            clear: both;
        }
        .bold {
            font-weight: bold;
        }

        h2 {
            font-size: 70%;
        }
        h4 {
            font-size: 70%;
        }
        h3 {
            font-size: 70%;
        }
        h5 {
            font-size: 70%;
        }
    </style>
</head>
<body>
<h2 class="text-center">Bukti Pendaftaran Tryout Retro 2017</h2>
<hr>
<div class="content">
    <div class="one">
        <img style="margin-top: 3em;" src="<%= qr %>" alt="qrcode">
        <h4 style="margin-top: -1em;margin-left: 4em;"><%= data.uuid %></h4>
    </div>
    <div class="two">
        <div class="box" style="margin-top: 1em">
            <h3 class="text-center"><%= no %></h3>
        </div>
        <article>
            <p><span class="attr">Nama</span><span class="detail">: <%= data.name %></span></p>
            <p><span class="attr">Jenis Kelamin</span><span class="detail">: <%= data.gender %></span></p>
            <p><span class="attr">Email</span><span class="detail">: <%= data.email %></span></p>
            <p><span class="attr">Nomor Telepon</span><span class="detail">: <%= data.phone %></span></p>
            <p><span class="attr">SMA</span><span class="detail">: <%= data.school %></span></p>
            <p><span class="attr">Total </span><span class="detail bold">: <%= nom %></span></p>

        </article>
    </div>

    <div class="clear"></div>
    <hr>
    <h3>Tata Cara pembayaran</h3>
    <div>
        <ul>
            <li>PENTING, lakukan pembayaran TEPAT sebesar <span class="bold"><%= nom%></span>. Perbedaan nilai transfer akan menghambat
                proses verifikasi.</li>
            <li>
                Silahkan transfer ke rekening berikut :
                <div class="box" style="width: 350px;padding: 0.5em 1em;">
                    <p><span class="attr">Nama Bank</span><span class="detail">: BNI (Bank Negara Indonesia)</span></p>
                    <p><span class="attr">No. Rekening</span><span class="detail">: 0381997724</span></p>
                    <p><span class="attr">Atas Nama</span><span class="detail">: Nanda Kesuma Devi</span></p>
                </div>
            </li>
            <li>Setelah melakukan pembayaran, segera lakukan konfirmasi pembayaran dengan cara : <br>
                SMS ke nomor 087812719200 dengan format : <br>
                <span style="font-weight: bold">RETRO#No.Registrasi#NamaRekening#JumlahTransfer.</span><br>
                Contoh : RETRO#RTR001#Ismail bin Mail#20001 <br><br>
                ATAU <br><br>
                Melalui email adigunaretro@gmail.com dengan subject [Konfirmasi Pembayaran] dan isi email sama
                dengan format SMS di atas.<span style="font-weight: bold">RETRO#No.Registrasi#NamaRekening#JumlahTransfer.</span><br></li>
            <li>Anda tidak perlu mengupload bukti pembayaran tapi wajib menyimpannya.</li>
            <li> Anda WAJIB mengingat No.Registrasi dan sangat disarankan untuk mencetak kartu ini dan dibawa saat
                registrasi ulang pada hari-H untuk ditukarkan dengan tiket peserta</li>
        </ul>
    </div>
    <hr>
    <p style="font-weight: bold;">Info lebih lanjut: </p>
    <p>Muhammad 085701050975&nbsp;|&nbsp;Kania 085727782299&nbsp;|&nbsp;Ask.fm :
        @Retro16&nbsp;|&nbsp;www.retroadiguna.com</p>
</div>
</body>
</html>